.button{
    padding: 30px 110px;
    background-image: linear-gradient(to right, #d0731b 0%, #dc9322 100%);
    display: flex;
    justify-content: center;
    vertical-align: middle;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;  
}