.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.user-info{
  display: flex;
}

.user-info__desc{
  color: #fff;
  opacity: .4;
  font-size: 18px;
  font-weight: 400;
  width: 160px;
  text-align: right;
  margin-right: 40px;
}
.user-info__username{
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  width: 26rem;
  line-height: 60px;
}